*{
  margin: 1;
  padding: 1;
  text-decoration: none;
}
.contenedor{
  display: flex;
}

main{
  width: 100%;
  padding: 20px;
}
.sidebars{
  background:#002e60 ;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}


.top_sections{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.barss{
  display: flex;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px;
}

.link{
  display: flex;
  color: #fff;
  padding: 30px 15px;
  text-decoration: none;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover{
  background-color: #5af0d7;
  color: black;
  transition: all 0.5s;
}
.active{
  background-color:#009475 ;
  color: #fff;
}
.icono, .link_text{
  font-size: 20px;
}

.fondocard{
  background: #002e60;
}
.boton-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffc400;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  padding: 20px;
  box-shadow: rgba(65, 60, 1, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer;
}

.boton-flotante:hover {
  background-color: #009475;
}

.formulario {
  display: contents;
  flex-direction: column;
  align-items: baseline;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;
}

.formulario__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: bold;
}

.formulario__input, .formulario__textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.formulario__textarea {
  height: 100px;
  resize: vertical;
}

.formulario__boton {
  background-color: #0077cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.formulario__boton:hover {
  background-color: #006
}
.vista-previa{
  height: 100px;
  width: 100px;
}
.salir{
  color: #0077cc;
}

.cambiodatos{
 color: #fff;
 background-color: #002e60;
 align-items: center;
}

.cambiodatos:hover{
  color: #fff;
  background-color: #009475;
}

/* chat */
.chat-header {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.chat-messages {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-top: none;
  border-radius: 0 0 5px 5px;
  min-height: 200px;
}

.message {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.chat-form {
  margin-top: 10px;
}

.form-input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #f2f2f2;
  width: 100%;
}

.form-submit {
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: #4CAF50;
  border: none;
}
.incidenciaPendiente{
  background-color: red;
  color: #fff;
}
.incidenciaEnCurso{
  background-color: #f3f710;
  color: black;
}
.IncidenciaCompletada{
  background-color: #52cf39;
  color: black;
}

body {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/carsibb-eb9b3.appspot.com/o/portada%20fondo%20SIRID.png?alt=media&token=b33ab736-f674-4268-9884-071e92ccb230');
  background-size: cover;
}

.btn-primario {
  background-color: #009475;
}

.index-cell {
  width: 30px;
  text-align: center;
}
.hoverable{
  color: #fff;
}
.hoverable:hover {
  color: #5af0d7;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    max-height: 100%;
    overflow-y: scroll;
  }
  .modal-dialog {
    margin: 0;
    max-width: 100%;
  }
  .modal-body {
    padding: 1rem;
  }
  .form-group {
    margin-bottom: 1rem;
  }
}

.chat-box {
  background-color: #f8f9fa;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: 400px;
  overflow-y: scroll;
  padding: 20px;
}

.chat-message {
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  position: relative;
  width: 70%;
}

.chat-message.sent {
  background-color: #007bff;
  color: #fff;
  left: 30%;
}

.chat-message.received {
  background-color: #fff;
  color: #000;
  right: 30%;
}

.chat-message span {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

form {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

input[type="text"] {
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
  padding: 10px 20px;
  width: 80%;
}

button[type="submit"] {
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
}